<header class="header" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security">

    <nav class="primary">

        <a th:if="${loggedInName}" href="/user" th:text="${loggedInName}"></a>

        <a href="/">Code Fellowship Home</a>

        <a th:if="${loggedInName} == false" href="/login">Login</a>

        <a th:if="${loggedInName} == false" href="/signup">Signup</a>

        <a th:if="${loggedInName}" href="/post">Create a post</a>

        <a th:if="${loggedInName}" href="/logout">Logout</a>

    </nav>

</header>


