<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Code Fellowship</title>
    </head>

    <body>
        <h1>Code Fellowship</h1>

        <h3>Welcome, <span th:text="${user.getFirstName()}"></span></h3>
        <p></p>
        <p>Profile of: <span th:text="${user.getFirstName()}"></span></p>

        <p></p>
        <p>First Name: <span th:text="${user.getFirstName()}"></span></p>

        <p></p>
        <p>Last Name: <span th:text="${user.getLastName()}"></span></p>

        <p></p>
        <p>Date of birth: <span th:text="${user.getDateOfBirth()}"></span></p>

        <p></p>
        <p>Bio: <span th:text="${user.getBio()}"></span></p>
    
        <img src="https://vignette.wikia.nocookie.net/theoffice/images/9/96/Prisonmike.png/revision/latest?cb=20100327171549" width="300px", height="300px">
    
    </body>

</html>