<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>

<body>

<h1>Sign up</h1>

<form action="/signup" method="POST">
    <p>User Name</p>
    <input name="username"/>

    <p>Password</p>
    <input type="password" name="password" />

    <p>First Name</p>
    <input name="firstName" />

    <p>Last Name</p>
    <input name="lastName" />

    <p>Date of birth</p>
    <input name="dateOfBirth" />

    <p>Bio</p>
    <input name="bio" />

    <p></p>
    <input type="submit" />

</form>

</body>

</html>

