<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
        <link href="styles.css" rel="stylesheet">
    </head>

    <body>

        <div th:replace="fragments/header :: header">...</div>

        <h1>Sign up</h1>

        <form action="/signup" method="POST">
            <p>User Name</p>
            <input name="username"/>

            <p>Password</p>
            <input type="password" name="password" />

            <p>First Name</p>
            <input name="firstName" />

            <p>Last Name</p>
            <input name="lastName" />

            <p>Date of birth</p>
            <input name="dateOfBirth" />

            <p>Bio</p>
            <input name="bio" />

            <p></p>
            <input type="submit" />

            <p></p>
            <a href="/">Home</a>

        </form>

    </body>

</html>

